@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");

.container {
  background-color: silver;
}
.visual {
  background-color: lime;
}
.main {
  background-color: skyblue;
}
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: gray;
}
.footer {
  background-color: pink;
}
/* 숨긴컨텐츠 */
.a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0); /* 스크린리더가 읽지 않게하기위한 소스 */
}
/* 레이아웃 */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  color: #181818;
  font-size: 1.4rem; /* html에 상속되어있는 폰트 사이즈를 계산하여 표시해주는 단위, 구형 브라우저에서는 지원X */
}
/* 링크 스타일 */
a {
  color: inherit; /* a는 상속색상으로 주는게 좋음 */
  text-decoration: none; /* 링크텍스트 밑줄 제거 */
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto; /* 0:위 , 아래 , auto : 왼쪽, 오른쪽  // margin 여백은 투명이라 안보이는 것뿐 차있는 영역임 */
}
/* 헤더 */
.header {
  background-color: #fff; 
  border-radius: 0 0 15px 15px;
  position: relative;
  padding: 0 30px;
}
/* 로고 */
.logo {
  position: absolute;
  background-color: rgba(255,0,0,0.5);
  top: 45px;
  left: 65px;
}
/* 멤버 링크 */
.member {
  text-align: right;
  font-size: 0;
  padding: 2px 0;
  margin-right: -10px; /* 마진만 -값을 사용 할 수 있음 */
}
.member li, .member a {
  display: inline-block;
}
.member li {
  text-transform: uppercase; /* 영문을 대문자로 바꿔줌 */
  font-size: 1.4rem; /* 글자간 여백을 없애기 위해 부모 member에서 0으로 만든다음 li에서 다시 폰트 사이즈를 줌 */
}
.member a {
  padding: 5px; /* 여백까지 버튼 영역이 되기 때문에 사용성 좋음 */
}
/* 비주얼 */
.visual {
  height: 10vh; /* vh : 실제화면에서 보여지는 사이즈 */
}
/* 메인 */
.main {
  padding: 30px;
  height: 60vh;
  display: flex; /* flex-direction: row; flex-wrap: nowrap; 를 추가 한 것과 같다 */
  flex-direction : row;
  /* justify-content: space-evenly; 자동으로 group의 사이간격 계산해줌.그러나 IE 11 지원안함 */
  justify-content: space-between; /* IE11에서 space-evenly과 비슷한 효과를 내줌 */
  /* align-items: flex-start; 컨텐츠들 높이에 맞춰서 중앙정렬 */
  align-items: stretch; /* 컨텐츠들 높이에 맞춤 */
} /* main W10 IE11에서는 적용되나 그 외 IE에서는 main소스 없음 */
.group {
  background-color: red;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
  /* align-self: center; 전체가 아닌 아이템 하나만 조정 가능 */
}
.group3 {
  /* order: -1; flew item으로 순서 지정이 가능. -1은 가장 숫자가 낮기 때문에 맨앞에 정렬됨 */
  width: 190px;
}
/* 술로건 */
.slogan {
  height: 10vh;
}
/* 푸터 */
.footer {
  height: 10vh;
}