@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./fontello.css");
@import url("./normalize.css");
@import url("./reset.css");
@import url("./animation.css");

/* 숨긴컨텐츠 */
.a11y-hidden, legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0); /* 스크린리더가 읽지 않게하기위한 소스 */
  position: absolute;
}
/* 컨텐이너 */
.container {
  background: url("./images/bg_flower.png") no-repeat 50% 0, #ccc linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
/* 레이아웃 */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  color: #181818;
  font-size: 1.4rem; /* html에 상속되어있는 폰트 사이즈를 계산하여 표시해주는 단위, 구형 브라우저에서는 지원X */
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}
/* 링크 스타일 */
a {
  color: inherit; /* a는 상속색상으로 주는게 좋음 */
  text-decoration: none; /* 링크텍스트 밑줄 제거 */
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto; /* 0:위 , 아래 , auto : 왼쪽, 오른쪽  // margin 여백은 투명이라 안보이는 것뿐 차있는 영역임 */
}
/* 헤더 */
.header {
  background-color: #fff; 
  border-radius: 0 0 15px 15px;
  position: relative;
  padding: 0 30px 38px;
}
/* 로고 */
.logo {
  position: absolute;
  top: 43px;
  left: 65px;
}
/* 멤버 링크 */
.member {
  text-align: right;
  font-size: 0;
  padding: 2px 0;
  margin-right: -10px; /* 마진만 -값을 사용 할 수 있음 */
}
.member li, .member a {
  display: inline-block;
}
.member li {
  text-transform: uppercase; /* 영문을 대문자로 바꿔줌 */
  font-size: 1.4rem; /* 글자간 여백을 없애기 위해 부모 member에서 0으로 만든다음 li에서 다시 폰트 사이즈를 줌 */
}
.member a {
  padding: 5px; /* 여백까지 버튼 영역이 되기 때문에 사용성 좋음 */
}

/* 메인 메뉴 */
.menu {
  background-color: tomato;
  height: 47px;
  /* overflow: hidden;  float때문에 높이값을 잃은 부모에게 넘치는 값에 대한 설정을 통해 높이값을 되찾아줌 */
  padding-left: 228px;
  border-top : 2px solid #181818;
  border-radius: 0 0 5px 5px;
  background: rgb(215,0,0);
  background: linear-gradient(37deg, rgba(215,0,0,1) 0%, rgba(105,26,0,1) 100%);
}
.menu > li {
  /* 구조선택자. 가급적이면 구조선택자를 사용하지 않는 class 기반으로 작업 할 것. (개발에서 무너질 수 있음) */
}
.menu-item {
  float: left;
  position: relative; /* sub-menu의 기준을 menu-item로 바꿈 */
  border-left: 2px solid rgba(255, 225, 225, 0.5);
}
.btn-menu {
  line-height: 45px;
  display: block;
  font-size: 1.5rem;
  padding: 0 22px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000; ; /* 여러번 , 로 구분하여 그림자를 여러벌 만들 수 있다 */
}
.menu-act .btn-menu {
  color: #ff0;
}
.menu-act .btn-menu::after {
  content: "";
  background-color: 000;
  display: block;
  border-top: 2px solid #181818;
}
.sub-menu {
  position: absolute;
  top: 47px;
  display: none;
}
.menu-act .sub-menu {
  display: flex;
}
.sub-menu li {
  white-space: nowrap; /* 보모의 넓이를 못넘어가는 것을 해제 */
}
.sub-menu a {
  display: block;
  padding: 7px 10px;
  margin-right: 2px;
}
.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right: 0;
}
/* 비주얼 */
.visual {
  height: 120px;
  position: relative;
  
}
.visual-text {
  animation-name: textAni; 
  animation-duration: 500ms;
  /* 애니메이션 호출 필수 값 : 이름, 애니메이션 지속시간 */
  animation-fill-mode: forwards;
  /* 애니메이션이 끝난다음 바뀐사항 유지 */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  width: 500px;
}
.visual::before, .visual::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  content: "";
  /* 가상선택자 before, after는 가상이기 때문에 아무 콘텐츠를 가지고 있지않아 필수로 content: ""; 넣어주어야 구현됨  */
  /* animation-name: bgAni; */
  /* animation-duration: 1000ms; */
  /* animation-iteration-count: infinite; */
  /* infinite : 애니메이션 무한 반복 */
  /* animation-direction: alternate; */
  /* 애니메이션을 앞뒤로 반복 */
  /* animation-play-state: paused;
   애니메이션 일시정지 기능 */
   animation: bgAni 1000ms infinite alternate;
   /* 위의 소스를 하나로 축약 가능 */
}
.visual::before {
  background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
  background-position: 0 -10px, 670px 5px;
}
.visual::after {
  background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png");
  background-position: 300px 10px, 800px 0;
  animation-delay: 500ms;
  /* 애니메이션 딜레이를 주어 각 레이어끼리 교차되도록 함 */
}
/* 메인 */
.main {
  padding: 30px;
  /* height: 60vh;  vh : 실제화면에서 보여지는 사이즈 */
  display: flex; /* flex-direction: row; flex-wrap: nowrap; 를 추가 한 것과 같다 */
  flex-direction : row;
  /* justify-content: space-evenly; 자동으로 group의 사이간격 계산해줌.그러나 IE 11 지원안함 */
  justify-content: space-between; /* IE11에서 space-evenly과 비슷한 효과를 내줌 */
  /* align-items: flex-start; 컨텐츠들 높이에 맞춰서 중앙정렬 */
  align-items: stretch; /* 컨텐츠들 높이에 맞춤 */
  min-height: 400px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
} /* main W10 IE11에서는 적용되나 그 외 IE에서는 main소스 없음 */

/* 로그인 */
.login {
  background-color: rgba(215,0,0,1);
  background-image: radial-gradient(circle at right top, rgba(215,0,0,1) 0%, rgba(105,26,0,1) 100%);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff0;
  margin-left: 10px;
  margin-bottom: 10px;
}
.login-form, .sign {
  background-color: #fff;
}
.login-form {
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.sign {
  border-radius: 0 0 5px 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between; 는 자동으로 컨텐츠를 왼쪽 오른쪽 맞춰줌 */
}
.sign .icon-right-open::before {
  color: brown;
}
.login-form [for="userEmail"], .login-form [for="userPw"] {
  display: inline-block;
  width: 4.1em;
} /* id로 호출하여 라벨선택 */
.login-form [type="email"], .login-form [type="password"] {
  width: 95px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 0.5em;
  border-radius: 5px;
}
.user-email {
  margin-bottom: 5px;
}
.login fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
.btn-login {
  position: absolute;
  border: 1px solid rgb(73, 13, 13);
  width: 50px;
  height: 53px;
  background-color: saddlebrown;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 5px;
  padding: 0;
  right: 0;
  top: 0;
}
.login label {
  padding-right: 5px;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
  /* align-self: center; 전체가 아닌 아이템 하나만 조정 가능 */
}
.group3 {
  /* order: -1; flew item으로 순서 지정이 가능. -1은 가장 숫자가 낮기 때문에 맨앞에 정렬됨 */
  width: 190px;
}
/* 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
}
.validation-list li a {
  background: url("./images/validation_icon.png") 18px center no-repeat, #aaa linear-gradient(180deg, #ccc, #eee);
  /* 아이콘이 위에 색상이 밑에 있기때문에 그 순서를 맞춰줘야함 */
  /* linear-gradient 앞에 색상을 넣는 것은 그라데이션을 지원하지 않는 브라우저에서 호출될 색상 */
  border: 1px solid #aaa;
  padding: 8px 10px 5px 45px;
  border-radius: 50px;
  margin-bottom: 10px;
  display: block;
  /* 여백도 눌려야 하기 때문에 a에 css가 적용되어야 한다 */
}
/* 웹 관련 용어 */
.term {
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}
.term .term-list {
   /* overflow: hidden;
  float를 사용하여 부모속성이 높이값을 잃는것을 없애기위한 속성. 그러나 오류가 있기때문에 완벽한 대안은 아님 */
}
.term .term-heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.term .term-list-thumbnail {
  float: left;
}
.term .term-list-subject {
  color: darkblue;
  margin-bottom: 5px;
  font-weight: 400;
  /* flaat를 오른쪽으로 치우져서 조절이 어려운게 아니라 넓이 값을 주면 제어가능 */
}
.term .term-list-subject, .term .term-list-brief {
  float: right;
  width: 145px;
}
.term-list-thumbnail img {
  vertical-align: middle;
}
.term-list::after {
  content: "";
  display: block;
  clear: both;
}
/* float로 잃은 높이값을 위한 소스 */
.clearfix {
  /* clear: both;
   float의 영향권에서 벗어나는 소스 html의 가장 마지막에 <div class="clearfix"></div>를 추가하면된다 */
}
/* 검색폼 */
.search-form {
  background: linear-gradient(#ccc, #eee);
  border-radius: 15px 15px 0 0;
  height: 50px;
  border: 1px solid #aaa;
  border-bottom: none;
  padding: 15px 25px 15px;
}
.search-form fieldset {
}
.search-form * {
  vertical-align: top;
  /* 글자가 떨어진다면 *으로 호출하여 중앙정렬 혹은 위로 올릴 수 있다 */
}
.search-form [type="search"] {
  width: 200px;
  padding: 1px 1px 1px 0.5em;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.btn-search {
  background-color: #222;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  height: 24px;
  padding: 0 11px;
  margin-left: 2px;
}
/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
  padding-top: 45px;
}
.board [class*="-list"], .board [class*="-more"] {
  display: none;
}
.tab-act [class*="-list"], .board [class*="-more"] {
  display: block !important;
}
.tab {
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  color: #222;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 5px 10px;
  position: absolute;
  top: 0;
  font-weight: 400;
  cursor: pointer;
}
.tab-act .tab {
  background: #fff;
  border-color: rgb(240,81,11) rgb(240,81,11) #fff rgb(240,81,11);
  /* 선뿐만 아니라 색도 원하는 곳마다 줄 수 있음 */
  color: orangered;
  z-index: 10;
  /* 활성화 한 탭을 가장 위로 올리기 위해 */
  outline: 0;
  /* outline: 0; 버튼 선택시 파란선을 없애기 위해서 0을 줌. 전체에 주면 포커스가 사라지기 때문에 활성화가 된 항목에만 줌 */
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 72px;
}
/* * = 포함하고 있는 */

.board [class*="-list"] li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  /* flex이기 때문에 사용할 수 있음 // justify-content: space-between; : 오른쪽 정렬 */
  align-items: center;
}
.board [class*="-list"] a {
  width: 300px;
  white-space: nowrap;
  /* white-space: nowrap; : 줄이 넘어가면 아래 단이 내려가는 것이 아니라 한줄로 되는 것 */
  overflow: hidden;
  /* overflow: hidden; : 넘어가는 텍스트 히든 */
  text-overflow: ellipsis;
  /* text-overflow: ellipsis; : 히든이 되면 말줌임표로 나옴 */
  padding: 5px 0;
}
.board [class*="-more"] {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.icon-plus::before {
  color: hsla(110, 70%, 30%, 1);
  /* 명도 채도 밝기 알파 */
}
/* .notice, .pds {
  position: absolute;
  left: 0;
  top: 0;
}
.pds-heading {
  margin-left: 70px;
}
.notice-list {
  
}
.notice-heading, .pds-heading {
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 7px 7px 0 0;
  width: 70px;
  height: 30px;
  text-align: center;
  padding-top: 4px;
  color: #222;
  font-weight: 500;
}
.notice-more, .pds-more {
  right: 0;
  top: 0;
  position: absolute;
  margin-top: 5px;
} */
/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
  min-height: 170px;
  /* 컨텐츠가 작았을 떄를 위해 최소 높이 줄 것 */
}
.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #ccc linear-gradient(90deg, #ccc, #fff);
}
.news-heading {
  color: orangered;
  font-weight: 700;
  font-size: 1.5rem;
}
.mews-item {
  margin-top: 35px;
}
.news-item-link {
  display: block;
  position: relative;
  padding-left: 130px;
}
.news-item-subject {
  font-weight: 400;
}
.news-item-brief {
  margin-top: 10px;
  line-height: 1.5;
}
.news-item-thumbnail {
  position: absolute;
  top: 3px;
  left: 2px;
  text-align: center;
}
.news-item-thumbnail img {
  margin-bottom: 15px;
  box-shadow: 0 15px 15px 0 #aaa;
}
.news-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
/* 신규 이벤트 및 관련 사이트 */
.event-related {
  background: #ccc linear-gradient(#ccc, #eee);
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 10px; 
}
.event-heading, .related-heading {
  font-weight: 700;
  color: #181818;
  font-size: 1.5rem;
}
.point-color {
  color: orangered;
}
.event p {
  margin: 10px 0;
}
.event-thumbnail img {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 0 0 #aaa;
}
.event {
  position: relative;
  border-bottom: 1px solid #aaa;
}
.btn-event {
  position: absolute;
  top: 3px;
  right: 0;
  height: 18px;
  /* 파이어 폭스 브라우저에서 높이 값을 없애기 위하여 부모에게 높이를 지정하고 자식에서 100%를 줌 */
}
.btn-event-prev, .btn-event-next {
  width: 19px;
  height: 100%;
  border: 0;
  padding: 0;
  /* 브라우저마다 버튼의 보더, 색상, 여백이 틀리기때문에 해당 소스를 입력해줘야함 */
  background: url("./images/back_forward.png") no-repeat;
}
.btn-event-prev {
  background-position: 0 0;
}
.btn-event-next {
  background-position: -36px 0;
}
.related {
  margin-top: 10px;
}
.related-list {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  height: 27px;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 5px;
  /* transition-property: background, height, padding; */
  /* 트렌지션이 일어날 속성 지정 */
 /*  transition-duration: 2s, 2s, 2s; */
  /* 바뀌는 중간단계 소스 */
/*   transition-delay: 4s, 0s, 2s;
 */  /* 딜레이로 적용 */
/*   transition-timing-function: ease-in-out;
 */  transition: all 0.4s 0s ease-in-out;
 /* all는 내부에 있는 css모두에 적용됨 */
 margin-top: 10px;
}
.related-list li {
  padding: 2px;
}
.related-list a {
  line-height: 21px;
  display: block;
  /* 버튼이 전체 다 눌릴수 있도록 블록 처리  */
  text-indent: 1em;
  /* 글자 들여쓰기 속성  */
}
.related-list a:hover {
  color: orangered;
}
.related-list:hover {
  height: 140px;
  padding: 10px 0;
}
.event-brief em {
  font-weight: 400;
}
/* 술로건 */
.slogan {
  padding: 10px 0;
  position: relative;
  padding: 10px 70px 10px 170px;
}
.slogan-heading {
  width: 110px;
  height: 83px;
  text-align: center;
  /* 텍스트를 가운대로 넣어서 이미지 뒤로 숨김 트릭 */
  position: absolute;
  /* padding-top: 83px;
  overflow: hidden; 
  
  white-space: nowrap;
  overflow: hidden;
 글자가 안보이게 하기위한 트릭 */
 bottom: -25px;
 left: 30px;
}
.slogan-content {
  color: #a09784;
  font-size: 1.4rem;
}
.director-name {
  font-weight: 400;
}
.slogan-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/coffee.png") no-repeat;
}
/* 푸터 */
.footer {
  height: 30vh;
  padding: 10px 0;
}
.footer-bg {
  background: #ccc linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}