@charset "utf-8";

.container {
  background-color: silver;
}
.header {
  background-color: yellow;
}
.visual {
  background-color: lime;
}
.main {
  background-color: skyblue;
}
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: gray;
}
.footer {
  background-color: pink;
}

/* 레이아웃 */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto; /* 0:위 , 아래 , auto : 왼쪽, 오른쪽  // margin 여백은 투명이라 안보이는 것뿐 차있는 영역임 */
}
/* 헤더 */
.header {
  height: 10vh; /* vh : 실제화면에서 보여지는 사이즈 */
}
/* 비주얼 */
.visual {
  height: 10vh;
}
/* 메인 */
.main {
  padding: 30px;
  height: 60vh;
  display: flex; /* flex-direction: row; flew-wrap: nowrap; 를 추가 한 것과 같다 */
  flex-direction : row;
  /* justify-content: space-evenly; 자동으로 group의 사이간격 계산해줌.그러나 IE 11 지원안함 */
  justify-content: space-between; /* IE11에서 space-evenly과 비슷한 효과를 내줌 */
  /* align-items: flex-start; 컨텐츠들 높이에 맞춤 */
} /* main W10 IE11에서는 적용되나 그 외 IE에서는 main소스 없음 */
.group {
  background-color: red;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
  /* align-self: center; 전체가 아닌 아이템 하나만 조정 가능 */
}
.group3 {
  /* order: -1; flew item으로 순서 지정이 가능. -1은 가장 숫자가 낮기 때문에 맨앞에 정렬됨 */
  width: 190px;
}
/* 술로건 */
.slogan {
  height: 10vh;
}
/* 푸터 */
.footer {
  height: 10vh;
}